* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 200px;
  cursor: pointer;
}

.navbar {
  background-color: aliceblue;
  width: 75%;
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: rgb(167, 177, 182);
  border-right: transparent;
  border-left: transparent;
  border-top: transparent;
  border-style: solid;
  position: fixed;
  margin-bottom: 50px;
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  transition: 500ms ease-in-out;
}

.resize {
  width: 100%;
  transition: 500ms ease-in-out;
}

.products-menu {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 20px;
  /* adjust with media query for responsiveness */
  width: 75%;
  transition: 500ms ease-in-out;
}

.spaceOut-Items {
  width: 100%;
  transition: 500ms ease-in-out;
}

#products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.product {
  background-color: azure;
}

.product:hover {
  border: 0.5px solid black;
  transition: 5s ease-in-out;
  padding: px;
}

#products img {
  width: 100%;
}

.product-deets {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.categoryName {
  background-color: rgb(156, 171, 179);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.cartMenu {
  position: fixed;
  right: 0px;
  background-color: rgb(156, 171, 179);
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 25%;
  height: 100vh;
  transition: all ease-in-out 0.5s;
  overflow: scroll;
}

.cartMenuHide {
  right: -500px;
  transition-duration: 0.5s;
}

.cartProducts-List {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 25px;
}

.cartProducts-List img {
  width: 100px;
}

.cartProduct {
  background-color: rgb(193, 211, 218);
  padding-left: 25px;
  margin-left: -10px;
  border-radius: 5px;
  width: 275px;
  height: 165px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.cart-details {
  width: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cartPrice {
  text-align: center;
  background-color: rgb(193, 211, 218);
  height: 100px;
}

.checkout-btn {
  color: wheat;
  background-color: brown;
  border: none;
  width: 100px;
  height: 25px;
}

.checkout-btn:hover {
  cursor: pointer;
  color: black;
  border: solid red;
  background-color: transparent;
}
